html, body { height: 100%; }
body { margin: 0; padding: 0; font-size: 14px; }

#wrapper { width: 100%; height: 100%; }
    #wrapper #main-menu { width: -webkit-calc(100% - 2px); height: 45px; }
        #wrapper #main-menu button { float: left; margin: 3px; width: 40px; height: 40px; background: #eee; }
        #wrapper #main-menu .split { float: left; margin: 4px; }
    #wrapper #editor { position: absolute; width: 100%; height: -webkit-calc(100% - 48px); }
	    #wrapper #editor #sidebar-left { float: left; width: 180px; padding: 10px 10px 0 0; height: -webkit-calc(100% - 10px); }
	    	#wrapper #editor #sidebar-left > ul { margin: 0; padding: 0 0 0 12px; }
		    	#wrapper #editor #sidebar-left > ul > li { cursor: pointer; list-style-type: none; line-height: 24px; margin: 4px 0; border-radius: 8px; }
		    	#wrapper #editor #sidebar-left > ul > li:not([parent="root"]) { margin-left: 16px; }
		    	#wrapper #editor #sidebar-left > ul > li[path=""] { background: #ADC0D0; }
		    	#wrapper #editor #sidebar-left > ul > li:not([path=""]) { background: #CDE2E2; }
		    	#wrapper #editor #sidebar-left > ul > li:not([path=""]):hover { background: #BDD4D4; }
		    		#wrapper #editor #sidebar-left > ul > li > a { margin: 0 8px 0 8px; text-decoration: none; color: #111; }
		    		#wrapper #editor #sidebar-left > ul > li > a.unsaved:before { content: '* ' }
			    	#wrapper #editor #sidebar-left > ul > li > a.current { font-weight: bold; }
			    	#wrapper #editor #sidebar-left > ul > li > a.opened { text-decoration: underline; }
			    	#wrapper #editor #sidebar-left > ul > li > div.close { background: #ddd; text-align: center; display: none; float: right; width: 24px; height: 24px; position: relative; font-size: 18px; border-radius: 8px; }
			    		#wrapper #editor #sidebar-left > ul > li > div.close > span.ui-icon { margin: 3px; }
			    	#wrapper #editor #sidebar-left > ul > li > div.close:hover { background: #bbb; }
	    #wrapper #editor #workspace { padding: 10px 0 0 190px; height: 100%; }

#file-create-dialog { display: none; }
	#file-create-dialog form label { display: block; margin: 2px; }
